<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0066D974-B6D3-4403-B308-27DA18D136DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84315660-8E02-45D6-8431-6A2EA554C51D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55E35F09-0949-409B-8F41-60AD899B09EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84315660-8E02-45D6-8431-6A2EA554C51D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0066D974-B6D3-4403-B308-27DA18D136DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81FA9CCE-3663-4513-82EA-38FACE4DCC4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84315660-8E02-45D6-8431-6A2EA554C51D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84315660-8E02-45D6-8431-6A2EA554C51D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB705B71-F591-454D-B4C3-CF73A202AB61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF9B9B17-2047-4A92-95F8-E3B55C4E9559</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55E35F09-0949-409B-8F41-60AD899B09EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCCD4BA9-9D63-4E6D-81F3-174384DDC72E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81FA9CCE-3663-4513-82EA-38FACE4DCC4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1176994-8659-4C5D-B0A1-7C75D4518936</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9B14FF6-412A-4D02-8627-21BA3A8D8302</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9B14FF6-412A-4D02-8627-21BA3A8D8302</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84315660-8E02-45D6-8431-6A2EA554C51D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kevin McPhillips</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Shopify projects on Github</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>shopify</string>
				<key>subtext</key>
				<string>https://github.com/Shopify/shopify</string>
				<key>text</key>
				<string>Shopify</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>print "Shopify/shopify {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0066D974-B6D3-4403-B308-27DA18D136DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>parsnip</string>
				<key>subtext</key>
				<string>https://github.com/Shopify/parsnip</string>
				<key>text</key>
				<string>Parsnip</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CCCD4BA9-9D63-4E6D-81F3-174384DDC72E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>print "Shopify/parsnip {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>81FA9CCE-3663-4513-82EA-38FACE4DCC4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CB705B71-F591-454D-B4C3-CF73A202AB61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query = ARGV[0]

COMMIT_REGEX = /^([0-9a-f]{7,40})$/

app, arg = query.split(" ")

url = ["https://github.com", app]

if !arg
	# Root of the app
elsif arg == "pull" || arg == "pulls"
	url &lt;&lt; "pulls"
elsif COMMIT_REGEX.match(arg)
	url &lt;&lt; "commit"
	url &lt;&lt; arg
end

print url.join("/")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>84315660-8E02-45D6-8431-6A2EA554C51D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>print "Shopify/spy {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55E35F09-0949-409B-8F41-60AD899B09EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>spy</string>
				<key>subtext</key>
				<string>https://github.com/Shopify/spy</string>
				<key>text</key>
				<string>Spy</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AF9B9B17-2047-4A92-95F8-E3B55C4E9559</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>services-db</string>
				<key>subtext</key>
				<string>https://github.com/Shopify/services-db</string>
				<key>text</key>
				<string>ServicesDB</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1176994-8659-4C5D-B0A1-7C75D4518936</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>print "Shopify/services-db {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9B14FF6-412A-4D02-8627-21BA3A8D8302</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0066D974-B6D3-4403-B308-27DA18D136DA</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>55E35F09-0949-409B-8F41-60AD899B09EB</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>81FA9CCE-3663-4513-82EA-38FACE4DCC4F</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>84315660-8E02-45D6-8431-6A2EA554C51D</key>
		<dict>
			<key>note</key>
			<string>Formats the Github URL from params</string>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>AF9B9B17-2047-4A92-95F8-E3B55C4E9559</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>CB705B71-F591-454D-B4C3-CF73A202AB61</key>
		<dict>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>CCCD4BA9-9D63-4E6D-81F3-174384DDC72E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D1176994-8659-4C5D-B0A1-7C75D4518936</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>F9B14FF6-412A-4D02-8627-21BA3A8D8302</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
