<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>07B98BBF-6CAA-4C59-83CC-9EFE4AAFF109</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92E30175-B552-4CBC-A4F7-7078BCEA2D17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D765E9E-57C9-49E2-9443-E104312E2471</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D6DF903-BF78-4854-AF1B-4E80AA8ADA75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B67B440-4750-4711-8D16-3B3DFB3C8CC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8225F84-B33C-4DF3-A9E6-61C1D8C6717B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DD66882-E55F-46F9-A889-8F5D0CF63B7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07B98BBF-6CAA-4C59-83CC-9EFE4AAFF109</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D765E9E-57C9-49E2-9443-E104312E2471</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D6DF903-BF78-4854-AF1B-4E80AA8ADA75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DD66882-E55F-46F9-A889-8F5D0CF63B7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>872C2A50-EDD6-4FD2-9983-CB6442451F82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92E30175-B552-4CBC-A4F7-7078BCEA2D17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B67B440-4750-4711-8D16-3B3DFB3C8CC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A96F03C-7F58-4CE2-81BB-8EEEFBEBBB5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>872C2A50-EDD6-4FD2-9983-CB6442451F82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8225F84-B33C-4DF3-A9E6-61C1D8C6717B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A96F03C-7F58-4CE2-81BB-8EEEFBEBBB5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dennis Theisen</string>
	<key>description</key>
	<string>Show all PRs from a certain dev</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shopify Github Open PRs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pr</string>
				<key>subtext</key>
				<string>Enter name of team member</string>
				<key>text</key>
				<string>Show Github PRs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/Shopify/shopify/pulls/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>kevin</string>
				<key>replacestring</key>
				<string>kmcphillips</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5B67B440-4750-4711-8D16-3B3DFB3C8CC2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>matt</string>
				<key>replacestring</key>
				<string>eightbitraptor</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>6DD66882-E55F-46F9-A889-8F5D0CF63B7E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>dennis</string>
				<key>replacestring</key>
				<string>Soleone</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>92E30175-B552-4CBC-A4F7-7078BCEA2D17</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>edward</string>
				<key>replacestring</key>
				<string>edward</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9A96F03C-7F58-4CE2-81BB-8EEEFBEBBB5B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>maple</string>
				<key>replacestring</key>
				<string>wildmaples</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7D6DF903-BF78-4854-AF1B-4E80AA8ADA75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>gareth</string>
				<key>replacestring</key>
				<string>garethson</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E8225F84-B33C-4DF3-A9E6-61C1D8C6717B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>filip</string>
				<key>replacestring</key>
				<string>Filip11</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>872C2A50-EDD6-4FD2-9983-CB6442451F82</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>me</string>
				<key>replacestring</key>
				<string>wildmaples</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>07B98BBF-6CAA-4C59-83CC-9EFE4AAFF109</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>gannon</string>
				<key>replacestring</key>
				<string>gmcgibbon</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>2D765E9E-57C9-49E2-9443-E104312E2471</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07B98BBF-6CAA-4C59-83CC-9EFE4AAFF109</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>2D765E9E-57C9-49E2-9443-E104312E2471</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>5B67B440-4750-4711-8D16-3B3DFB3C8CC2</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>6DD66882-E55F-46F9-A889-8F5D0CF63B7E</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>7D6DF903-BF78-4854-AF1B-4E80AA8ADA75</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>872C2A50-EDD6-4FD2-9983-CB6442451F82</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>92E30175-B552-4CBC-A4F7-7078BCEA2D17</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>9A96F03C-7F58-4CE2-81BB-8EEEFBEBBB5B</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>E8225F84-B33C-4DF3-A9E6-61C1D8C6717B</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
