<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>27F3DE58-FE21-4CEC-9838-59C3233E0087</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>review request</string>
			<key>text</key>
			<string>Review Request Github</string>
			<key>url</key>
			<string>https://github.com/pulls/review-requested</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4DD6A576-67FB-4039-98E1-3A4D27621930</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>production</string>
			<key>text</key>
			<string>Open Shipit shopify/production</string>
			<key>url</key>
			<string>https://shipit.shopify.io/shopify/shopify/production</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7FC0D615-B4CF-42B3-AB54-83C2E671B5A2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>Search github.com for '{query}'</string>
			<key>url</key>
			<string>https://github.com/shopify/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>90B85185-D8A9-4233-AA2F-1EF0FB0D739B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pull requests</string>
			<key>text</key>
			<string>Open Github Pull Requests</string>
			<key>url</key>
			<string>https://github.com/pulls</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9DE43D2B-DBD3-43FE-8D83-9EFEE74A1DAD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>maplepeijune</string>
			<key>text</key>
			<string>Gmail - maplepeijune</string>
			<key>url</key>
			<string>https://mail.google.com/mail/u/2/#inbox</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C518A6BF-CD23-4F23-8ABB-C7973F814552</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>canaries</string>
			<key>text</key>
			<string>Open Shipit - shopify/canaries</string>
			<key>url</key>
			<string>https://shipit.shopify.io/shopify/shopify/canaries</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FE68FC6E-7D78-415C-95F8-11F2FE70EEC1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mp2ong</string>
			<key>text</key>
			<string>Gmail - mp2ong</string>
			<key>url</key>
			<string>https://mail.google.com/mail/u/3/</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
